---
import BaseLayout from "../layouts/BaseLayout.astro";
import Intro from "../components/Intro.astro";
import Section from "../components/Section";
import FirstRoom from "../components/rooms/FirstRoom.astro";
import SecondRoom from "../components/rooms/SecondRoom.astro";
import ThirdRoom from "../components/rooms/ThirdRoom.astro";
import arrowRightIcon from "../icons/arrow-right.svg";
import externalIcon from "../icons/external.svg";
import "swiper/css/bundle";
import { Image } from "astro:assets";
import Layered from "../components/Layered";
---

<BaseLayout title="Ida Esbra">
  <nav
    class="font-antarctican-mono uppercase flex justify-between px-6 opacity-0 text-sm"
    id="rooms-nav"
  >
    <button
      type="button"
      class="js-room-anchor"
      data-room="room-1"
      data-slide="3"
    >
      Sala Fragmentos
    </button>
    <button
      type="button"
      class="js-room-anchor"
      data-room="room-2"
      data-slide="4"
    >
      Sala Somos
    </button>
    <button
      type="button"
      class="js-room-anchor"
      data-room="room-3"
      data-slide="5"
    >
      Sala Caribe
    </button>
  </nav>
  <div class="swiper swiper-root w-full h-full">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <Section centerContent={false}>
          <!-- For a11y -->
          <h1 class="absolute top-auto size-px overflow-hidden -left-[10000px]">
            Mirar lo no mirado
          </h1>
          <div class="relative h-full">
            <Layered
              className="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full"
              background="/idaesbra-mirarlonomirado/images/cover-start.jpg"
              foreground="/idaesbra-mirarlonomirado/images/cover-end.jpg"
              alt="Mujer sentada en una mecedora, inclinada hacia adelante, con su cabeza baja y las manos reposando suavemente sobre la silla en la que se está sentada. La figura está iluminada desde atrás, lo que crea un efecto de contraluz que perfila su silueta de manera clara. El fondo de la imagen está compuesto por una estructura geométrica que parece una ventana con divisiones rectangulares, lo que añade un contraste interesante entre la rigidez de las líneas y la suavidad del cuerpo relajado de la mujer. La mujer fotografiada es Saskia Esbra, hija de la artista. El uso del contraluz no solo perfila su figura, sino que también la oculta parcialmente, lo que podría hablar sobre la agencia en la autorrepresentación, donde la figura no está completamente disponible para la mirada del espectador, manteniendo su autonomía y espacio personal."
              client:only="react"
            />
            <div
              class="text-7xl font-bold font-salo flex flex-col grow shrink relative h-full"
            >
              <div class="items-start">
                <div
                  class="inline-flex flex-col items-center shrink-0 leading-[0.75]"
                >
                  <span>mirar</span>
                  <span>lo</span>
                </div>
              </div>
              <div class="grow"></div>
              <div class="flex justify-end">
                <div
                  class="inline-flex items-start flex-col shrink-0 leading-[0.75]"
                >
                  <span class="-translate-x-10">no</span>
                  <span>mirado</span>
                </div>
              </div>
            </div>
          </div>
          <p class="text-xl italic shrink-0 py-2 z-[1] bg-eerie-black leading-none">
            <span>Ida Esbra y la fotografía experimental del Caribe colombiano</span>
            <button type="button" class="next">
              <Image
               src={arrowRightIcon}
               class="animate-pulse inline-block"
               alt=""
             />
            </button>
          </p>
        </Section>
      </div>
      <div class="swiper-slide">
        <Section>
          <Intro />
        </Section>
      </div>
      <div class="swiper-slide">
        <Section className="leading-normal">
          <p>
            La fotografía de Ida Esbra (1929-2009) se alimenta de lo que a
            menudo se ignora, la fragilidad de lo que está a punto de
            desaparecer, un susurro entre las ondas del agua, un cuerpo que se
            convierte en testimonio de la fugacidad y la continuidad, de la vida
            que se desliza y de los paisajes que guardan secretos nunca del todo
            revelados. Cada imagen es un testimonio de la capacidad humana para
            encontrar belleza en la diversidad, para celebrar lo común y lo
            extraordinario en igual medida.
          </p>
          <p class="mt-10">
            Con la firme convicción de que los archivos aún guardan tesoros,
            Mirar lo no mirado es un acto de excavación, de revisar las formas
            en que los objetos de un archivo se interpretan y se manifiestan en
            nuestro presente. ¿Qué miradas hemos dejado ocultas bajo las capas
            de la historia? ¿Qué significados quedan por descubrir en los
            pliegues de lo no mirado?
          </p>
        </Section>
      </div>
      <div class="swiper-slide">
        <FirstRoom />
      </div>
      <div class="swiper-slide">
        <SecondRoom />
      </div>
      <div class="swiper-slide">
        <ThirdRoom />
      </div>
      <div class="swiper-slide">
        <Section className="px-0">
          <p class="px-6 font-antarctican-mono uppercase">Conoce más</p>
          <nav class="mt-5">
            <ul class="divide-y font-salo font-bold border-y">
              <li>
                <a
                  href="/idaesbra-mirarlonomirado/sobre-ida-esbra"
                  class="flex items-center justify-between px-6 py-2"
                >
                  <span class="text-4xl">Sobre Ida Esbra</span>
                  <Image src={externalIcon} class="size-14" alt="" />
                </a>
              </li>
              <li>
                <a
                  href="/idaesbra-mirarlonomirado/sobre-este-proyecto"
                  class="flex items-center justify-between px-6 py-2"
                >
                  <span class="text-4xl">Sobre el proyecto</span>
                  <Image src={externalIcon} class="size-14" alt="" />
                </a>
              </li>
              <li>
                <a
                  href="/idaesbra-mirarlonomirado/sobre-la-grafica"
                  class="flex items-center justify-between px-6 py-2"
                >
                  <span class="text-4xl">Sobre la gráfica</span>
                  <Image src={externalIcon} class="size-14" alt="" />
                </a>
              </li>
              <li>
                <a
                  href="/idaesbra-mirarlonomirado/aviso-legal"
                  class="flex items-center justify-between px-6 py-2"
                >
                  <span class="text-4xl">Aviso legal</span>
                  <Image src={externalIcon} class="size-14" alt="" />
                </a>
              </li>
            </ul>
          </nav>
          <div class="py-5 px-6">
            <a
              id="scroll-to-top"
              class="inline-flex font-antarctican-mono gap-4 items-center uppercase"
              href="/idaesbra-mirarlonomirado"
            >
              <span>Volver al inicio</span>
            </a>
          </div>
        </Section>
      </div>
    </div>
  </div>
  <script src="../scripts/home.ts"></script>
</BaseLayout>
