---
import { Image } from "astro:assets";
import externalIcon from "../icons/external.svg";
import arrowUp from "../icons/arrow-up.svg";
---

<footer>
  <p class="px-8 font-antarctican-mono uppercase">Conoce más</p>
  <nav class="mt-5">
    <ul class="divide-y font-salo border-y">
      <li>
        <a href="" class="flex items-center justify-between px-8 py-2">
          <span class="text-4xl">Exposición</span>
          <Image src={externalIcon} class="size-14" alt="" />
        </a>
      </li>
      <li>
        <a
          href="/sobre-ida-esbra"
          class="flex items-center justify-between px-8 py-2"
        >
          <span class="text-4xl">Sobre Ida Esbra</span>
          <Image src={externalIcon} class="size-14" alt="" />
        </a>
      </li>
      <li>
        <a
          href="/sobre-este-proyecto"
          class="flex items-center justify-between px-8 py-2"
        >
          <span class="text-4xl">Sobre el proyecto</span>
          <Image src={externalIcon} class="size-14" alt="" />
        </a>
      </li>
      <li>
        <a href="/aviso-legal" class="flex items-center justify-between px-8 py-2">
          <span class="text-4xl">Aviso legal</span>
          <Image src={externalIcon} class="size-14" alt="" />
        </a>
      </li>
    </ul>
  </nav>
  <div class="py-5 px-8">
    <button
      id="scroll-to-top"
      class="inline-flex font-antarctican-mono gap-4 items-center uppercase"
      type="button"
    >
      <span>Volver arriba</span>
      <Image src={arrowUp} class="size-4" alt="" />
    </button>
  </div>
</footer>
<script>
  const button = document.getElementById("scroll-to-top");

  button?.addEventListener("click", function () {
    window.scrollTo({
      top: 0,
      left: 0,
      behavior: "smooth",
    });
  });
</script>
